$text-color: #333;
$text-color-light: #eee;
$primary-color: #e76724;
$alternate-color: #0c94dc;
$contrast-color: #cd4078;

body {
  	color: $text-color;
  	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, textarea {
  background: transparent !important;
  border: 0 !important;
  box-shadow: 0px 2px $text-color-light !important;
  margin-bottom: 15px !important;
  &:hover, &:active, &:focus {
    box-shadow: 0px 2px $primary-color !important;
  }
}

.uk-text-center {
  input {
    text-align: center;
  }
}

::selection {
  background: $primary-color;
  color: #fff;
  text-shadow: none;
}

.navbar-brand img {
  width: 150px;
}

.uk-navbar {
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.bl-navbar-overlay:not(.uk-active) {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.bl-navbar-transparent {
  &.uk-navbar {
    background: none;
  }
}

.uk-navbar-brand {
  box-sizing: border-box;
  display: block;
  height: 80px;
  padding: 0 15px;
  float: left;
}

.uk-navbar-nav {
  >li {
    &:hover {
      >a {
        background-color: transparent;
        color: $primary-color;
        outline: none;
      }
    }
    &.uk-active {
      a {
        background-color: transparent;
        color: $primary-color;
      }
    }
    >a {
      display: block;
      height: 80px;
      padding: 0 15px;
      line-height: 80px;
      font-size: 1.3em;
      color: $text-color-light;
      &:focus {
        background-color: transparent;
        color: $primary-color;
        outline: none;
      }
    }
    .uk-dropdown {
    	background: rgba(255,255,255,.9);
    	border-radius: 3px;
    	>ul {
    		>li {
				>a {
		    		&:focus, &:hover, &:active {
		    			color: $text-color-light;
		    			background: $primary-color;
		    		}
		    	}
    		}
    	}
    }
  }
}

.bl-navbar-contrast {
  .uk-navbar-nav {
    li {
      &.uk-active, &:hover, &.uk-open {
        a {
          color: $primary-color;
          background: none;
        }
      }
      a {
        &:focus {
          color: $primary-color;
        }
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.bl-btn-outline {
	padding: 5px 25px;
	border-radius: 0;
	background-color: transparent;
}

.bl-text-light {
  color: $text-color-light;
  h1, h2, h3, h4, h5, h6 {
    color: $text-color-light;
  }
  .bl-btn-outline {
		border: 2px solid $text-color-light;
		color: $text-color-light;
		&:hover {
		  border: 2px solid $primary-color;
		  color: $text-color-light;
		  background-color: $primary-color;
		}
	}
}

.bl-text-dark {
  color: $text-color;
  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
  }
  .bl-btn-outline {
		border: 2px solid $text-color;
		color: $text-color;
		&:hover {
		  border: 2px solid $primary-color;
		  color: $text-color-light;
		  background-color: $primary-color;
		}
	}
}

.uk-block-primary {
  background: $primary-color;
}

.uk-block {
  h1 {
    font-size: 3em;
    margin: 0.6em 0 1em;
  }
}

.height-1 {
  min-height: 100px;
}

.height-2 {
  min-height: 200px;
}

.height-3 {
  min-height: 300px;
}

.height-4 {
  min-height: 400px;
}

.height-5 {
  min-height: 500px;
}

.tile {
  height: 150px;
  width: 150px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin: 10px;
  position: relative;

  -webkit-box-shadow: 0 6px 4px -6px #777;
  -moz-box-shadow: 0 6px 4px -6px #777;
  box-shadow: 0 6px 4px -6px #777;
  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}

.image-xs {
  max-height: 50px;
}

#slider {
  .main-slider {
    margin-top: 60px;
  }
  .images .image {
    position: absolute;
    max-width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
    img {
      width: 60%;
    }
  }
  a {
    color: $primary-color;
  }
}

#our-services {
	.bl-service-description {
		background: #f8f8f8;
		padding: 60px 100px;
	}
}

#clients {
  background-size: cover;
  background: #d8d8d8 fixed;
  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -o-filter: grayscale(0%);
    }
  }
}

#customers {
  .bl-quote-slider {
    padding-top: 35px;
  }
}

#news {
  .uk-subnav-pill {
    .uk-active {
      * {
        background: $primary-color;
      }
    }
  }
}

#footer {
  .logo {
    img {
      height: 150px;
    }
  }
  .top-footer {
    margin: 35px 0;
  }
  ul {
    list-style: none;
    display: inline;
    a {
      color: $text-color-light;
      padding: 10px 0;
      border-bottom: 1px solid rgba($text-color-light, 0.1);
      &:hover {
        color: $primary-color;
      }
    }
  }
  .social {
    padding: 30px 0;
    a {
      color: $text-color-light;
      background: $primary-color;
    }
  }
  .uk-panel {
    .uk-panel-title {
      color: lighten($text-color, 20);
    }
  }
  .divider {
    border-color: rgba($text-color-light, 0.1);
  }
  .bl-copyrights {
    a {
      color: lighten($text-color, 20);
    }
  }
  input {
    color: $text-color-light !important;
  }
}

.bl-block-footer {
  padding: 10px 0;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-size: 4em;
    text-shadow: 0 0 5px black;
  }
}

.services {
  .uk-tab {
    a {
      text-transform: uppercase;
    }
  }
}

.bl-icon-description {
  position: relative;
  a {
    display: inline-block;
    position: absolute;
  }
  p {
    padding-left: 50px;
  }
}

ul.bl-tab {
  border-bottom: 2px solid $text-color-light;
  > li {
    margin-bottom: -2px;
    > a {
      color: $text-color;
      padding: 20px;
      font-size: 1.2em;
      &:hover {
        padding: 20px !important;
      }
    }
  }
  > li.uk-active {
    > a {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
}

.bl-switcher {
  margin: 30px 0;
}

.bl-package {
  font-size: 1.3em;
  h3, p, button {
    padding: 10px;
  }
  .bl-package-title {
    h3 {
      background-color: $alternate-color;
      padding: 10px 0;
      margin: 0 0 2px 0;
      font-size: 1.3em;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      line-height: normal;
    }
  }
  .bl-package-featured-image {
    img {
      width: 100%;
    }
  }
  .bl-package-price {
    span {
      padding: 9px 0;
      display: block;
      font-size: 1.5em;
      color: #fff;
      font-weight: 500;
      background: $contrast-color;
    }
  }
}

@media(max-width: 767px) {
  #our-services .pe {
    font-size: 3em;
  }

  .images {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }
}