html {
  background-color: #ebeff1; }

body {
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #ebeff1; }
  body > section {
    min-height: 210px; }

a {
  color: #e76724; }
  a > i.material-icons {
    font-size: 1.3rem;
    line-height: inherit; }

button > i.material-icons {
  font-size: 1.3rem;
  line-height: inherit; }

.full-height {
  height: 680px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

section:not(.banner) > h1 {
  background: url("/assets/frontend/img/border_img2.png") no-repeat bottom center;
  padding: 0 0 35px 0; }

input, textarea {
  background: transparent !important;
  border: 0 !important;
  box-shadow: 0px 2px #eee !important;
  margin-bottom: 15px !important; }
  input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
    box-shadow: 0px 2px #e76724 !important; }

.uk-text-center input {
  text-align: center; }

::-moz-selection {
  background: #e76724;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #e76724;
  color: #fff;
  text-shadow: none; }

.uk-navbar-brand img {
  padding-top: 30px;
  width: 275px; }

.bl-navbar-overlay:not(.uk-active) {
  position: absolute;
  z-index: 1;
  width: 100%; }

#bl-navbar {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.5s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }
  #bl-navbar:hover {
    background: rgba(255, 255, 255, 0.9);
    transition: background 0.5s; }
  #bl-navbar .uk-dropdown {
    padding: 20px;
    border: 5px solid white;
    background-color: #f1f1f1;
    top: 58px !important; }
    #bl-navbar .uk-dropdown .uk-panel {
      background: white; }
  #bl-navbar .callout {
    margin: 12px 0 0 0;
    padding: 15px 0;
    width: 120px;
    float: left;
    position: relative;
    font-size: 24px;
    color: #4d4d4d;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 2px 1px 1px #e0d9d9;
    background: #fff; }
    #bl-navbar .callout:after {
      width: 31px;
      height: 44px;
      position: absolute;
      top: 40px;
      right: -31px;
      content: "";
      background: url(/assets/frontend/img/help_cut.png) no-repeat top center; }
  #bl-navbar .uk-tab .uk-active:before {
    content: '';
    position: absolute;
    top: 14px;
    right: -12px;
    border-width: 6px 0px 6px 12px;
    border-style: solid;
    border-color: transparent #f1f1f1;
    z-index: 2; }

.stroke-white {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }

.stroke-black {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; }

.bl-navbar-transparent.uk-navbar {
  background: none; }

.uk-navbar-brand {
  box-sizing: border-box;
  display: block;
  height: 80px;
  padding: 0 15px;
  float: left; }

.uk-panel > .uk-close {
  margin: -10px -10px 0 0;
  float: right; }

.uk-navbar-nav > li.uk-open > a {
  color: #e76724;
  background-color: transparent;
  border-bottom: 3px solid #e76724; }

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li.uk-active > a {
  background-color: transparent;
  color: #e76724;
  outline: none;
  border-bottom: 3px solid #e76724; }

.uk-navbar-nav > li > a {
  display: block;
  padding: 10px 15px;
  box-sizing: initial;
  font-size: 1em;
  color: #e76724;
  background-color: transparent;
  border-bottom: 3px solid transparent; }
  .uk-navbar-nav > li > a:focus {
    color: #e76724;
    outline: none; }
  .uk-navbar-nav > li > a:focus {
    background-color: transparent; }

.uk-navbar-nav > li .uk-dropdown {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px; }
  .uk-navbar-nav > li .uk-dropdown > ul > li > a:focus, .uk-navbar-nav > li .uk-dropdown > ul > li > a:hover, .uk-navbar-nav > li .uk-dropdown > ul > li > a:active {
    color: #eee;
    background: #e76724; }

.bl-tab-left-container .ul-tab-left li a {
  padding: 10px; }

.bl-tab-left-container .uk-tab-left-content {
  border: 1px solid #ddd;
  border-left: none; }

.bl-btn-outline {
  padding: 5px 25px;
  border-radius: 0;
  background-color: transparent; }

.bl-text-light {
  color: #eee; }
  .bl-text-light h1, .bl-text-light h2, .bl-text-light h3, .bl-text-light h4, .bl-text-light h5, .bl-text-light h6 {
    color: #eee; }
  .bl-text-light .bl-btn-outline {
    border: 2px solid #eee;
    color: #eee; }
    .bl-text-light .bl-btn-outline:hover {
      border: 2px solid #e76724;
      color: #eee;
      background-color: #e76724; }

.bl-text-dark {
  color: #333; }
  .bl-text-dark h1, .bl-text-dark h2, .bl-text-dark h3, .bl-text-dark h4, .bl-text-dark h5, .bl-text-dark h6 {
    color: #333; }
  .bl-text-dark .bl-btn-outline {
    border: 2px solid #333;
    color: #333; }
    .bl-text-dark .bl-btn-outline:hover {
      border: 2px solid #e76724;
      color: #eee;
      background-color: #e76724; }

.bl-text-primary {
  color: #e76724 !important; }

.bl-block-default {
  background-color: white; }

.bl-block-primary {
  background: #e76724; }
  .bl-block-primary a, .bl-block-primary i {
    color: white; }

.bl-block-primary-light {
  background: #ec8752; }

.bl-block-primary-lighter {
  background: #f1a780; }

.bl-block-primary-lightest {
  background: #fbe7dc; }

h1 {
  font-size: 3em;
  margin: 0.6em 0 1em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

.height-1 {
  min-height: 100px; }

.height-2 {
  min-height: 200px; }

.height-3 {
  min-height: 300px; }

.height-4 {
  min-height: 400px; }

.height-5 {
  min-height: 500px; }

.tile {
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 10px;
  position: relative; }

.image-xs {
  max-height: 50px; }

#slider .main-slider {
  /* margin-top: 60px; */ }

#slider .images {
  height: 70vh; }
  #slider .images .image {
    text-align: center;
    position: absolute;
    max-width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%; }
    #slider .images .image img {
      width: 100%; }

#slider .subtitle-wrap {
  margin-top: -415px; }
  #slider .subtitle-wrap .subtitle {
    margin-top: 0; }
    #slider .subtitle-wrap .subtitle .button-group {
      padding-top: 250px; }

.bl-button-image {
  background-color: transparent;
  color: #eee;
  border: 2px solid transparent;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .bl-button-image span {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
    height: 116px;
    line-height: 116px; }
  .bl-button-image:hover, .bl-button-image:active, .bl-button-image:focus {
    background-color: transparent;
    color: #e76724;
    border: 2px solid #e76724; }

#news .bl-background-slider {
  position: absolute;
  width: 100%; }

#news .uk-slideset li h4 {
  min-height: 65px; }

#news .uk-slideset li p {
  min-height: 90px; }

#news .uk-subnav-pill li.uk-active a {
  border: 1px solid #e76724;
  background: #e76724;
  color: #eee; }

#news .uk-subnav-pill li a {
  padding: 40px 25px 25px 25px;
  background: transparent;
  color: #eee;
  border-bottom-width: 1px; }
  #news .uk-subnav-pill li a .material-icons {
    font-size: 4em; }

#clients {
  background-size: cover;
  background: #d8d8d8 fixed; }

#customers .bl-quote-slider {
  padding-top: 35px; }

#our-services-index .bl-service-description {
  background: #f8f8f8;
  padding: 30px 80px; }

#our-services {
  padding: 0; }
  #our-services #service-switcher {
    clear: both;
    background-color: #83c42c;
    border-top: 2px solid #75af27;
    margin-top: -1px; }
    #our-services #service-switcher .uk-container {
      padding: 60px 0; }
  #our-services .uk-tab {
    border: 0; }
    #our-services .uk-tab li.uk-active {
      border-bottom: 0;
      margin-bottom: -2px; }
      #our-services .uk-tab li.uk-active a {
        background-color: #83c42c;
        border-top: 2px solid #75af27;
        border-right: 2px solid #75af27;
        border-left: 2px solid #75af27;
        color: #eee; }
    #our-services .uk-tab a {
      border-top: 2px solid transparent;
      border-right: 2px solid transparent;
      border-left: 2px solid transparent;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      margin: 0;
      max-width: 110px;
      padding-left: 40px;
      padding-right: 40px;
      background-color: transparent; }
      #our-services .uk-tab a:hover {
        border: 2px solid transparent;
        transform: scale(1.05); }
  #our-services .uk-subnav-pill .uk-active * {
    background: #e76724; }

#footerWrapper {
  width: 100%;
  float: left; }
  #footerWrapper .footerArea {
    padding: 0 0 3px 0;
    width: 100%;
    float: left;
    position: relative;
    background: url("/assets/frontend/img/broadtel_footer.jpg") no-repeat top center;
    background-size: cover; }
    #footerWrapper .footerArea .link {
      padding: 26px 0 17px 0;
      width: 100%;
      float: left;
      position: relative;
      border-bottom: 1px solid #f5b37f; }
      #footerWrapper .footerArea .link .sub-menu {
        background: #324663 none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 5px;
        display: none;
        float: left;
        left: 0;
        margin: 0 auto;
        position: absolute;
        top: 46px;
        z-index: 9; }
        #footerWrapper .footerArea .link .sub-menu li {
          border-right: medium none;
          display: block;
          float: left;
          padding: 15px 19.9px;
          text-align: center; }
      #footerWrapper .footerArea .link ul {
        margin: 0;
        list-style: none;
        text-align: center; }
        #footerWrapper .footerArea .link ul li {
          padding: 0 24px;
          display: inline-block;
          border-right: 1px solid #fff;
          line-height: 12px; }
          #footerWrapper .footerArea .link ul li a {
            color: #eee; }
          #footerWrapper .footerArea .link ul li:hover > .sub-menu {
            display: block; }

#footer {
  background: linear-gradient(#d8d8d8, rgba(246, 133, 37, 0.17)), url("/assets/frontend/img/connect_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }
  #footer .logo img {
    height: 150px; }
  #footer .top-footer {
    margin: 35px 0; }
  #footer ul {
    list-style: none;
    display: inline; }
    #footer ul a {
      color: #eee;
      padding: 10px 0;
      border-bottom: 1px solid rgba(238, 238, 238, 0.1); }
      #footer ul a:hover {
        color: #e76724; }
  #footer .social {
    padding: 30px 0; }
    #footer .social a {
      color: #eee;
      background: #e76724; }
  #footer .uk-panel .uk-panel-title {
    color: #666666; }
  #footer .divider {
    border-color: rgba(238, 238, 238, 0.1); }
  #footer .bl-copyrights a {
    color: #eee; }
  #footer input {
    color: #eee !important; }

.bl-block-footer {
  padding: 10px 0; }

.banner {
  background-size: cover;
  background-repeat: no-repeat; }
  .banner h1 {
    font-size: 4em;
    text-shadow: 0 0 5px black; }

.services .uk-tab a {
  text-transform: uppercase; }

.bl-icon-description {
  position: relative;
  margin: 15px; }
  .bl-icon-description a.uk-icon-button {
    display: inline-block;
    position: absolute; }
  .bl-icon-description p {
    padding-left: 50px; }

ul.bl-tab {
  border-bottom: 2px solid #eee; }
  ul.bl-tab > li {
    margin-bottom: -2px; }
    ul.bl-tab > li > a {
      color: #333;
      padding: 20px;
      font-size: 1.2em; }
      ul.bl-tab > li > a:hover {
        padding: 20px !important; }
  ul.bl-tab > li.uk-active > a {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #e76724;
    border-bottom: 2px solid #e76724; }

.payment-options label {
  text-align: center;
  display: inline-block;
  width: 100%; }
  .payment-options label img {
    width: 110px; }
  .payment-options label [type=radio] {
    height: 25px;
    width: 25px; }

.bl-plans {
  margin: 30px 0; }

.bl-package {
  font-size: 1.3em; }
  .bl-package h3, .bl-package p, .bl-package button {
    padding: 10px; }
  .bl-package .uk-panel > * {
    background: #f1f1f1; }
  .bl-package .bl-package-title h3 {
    background-color: #0c94dc;
    padding: 10px 0;
    margin: 0 0 2px 0;
    font-size: 1.3em;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal; }
  .bl-package .bl-package-featured-image img {
    width: 100%; }
  .bl-package .bl-package-price span {
    padding: 9px 0;
    display: block;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    background: #cd4078; }

.bl-button {
  background: #e76724;
  border: 0;
  color: #eee; }
  .bl-button:hover {
    background: #ea773b;
    color: #eee; }

.bl-icon-button span {
  margin-right: 5px;
  width: 45px;
  height: 39px;
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background: #fff; }

.bl-icon-button cite {
  padding-top: 8px;
  float: left;
  font-style: normal; }

.bl-icon-button:hover {
  background: #f1f1f1; }

.bl-padding {
  padding: 1em; }

.bl-padding-2 {
  padding: 2em; }

.bl-padding-lr {
  padding-left: 1em;
  padding-right: 1em; }

.bl-padding-2-lr {
  padding-left: 2em;
  padding-right: 2em; }

.bl-padding-tb {
  padding-top: 1em;
  padding-bottom: 1em; }

.bl-padding-2-tb {
  padding-top: 2em;
  padding-bottom: 2em; }

.bl-margin-top-ve {
  margin-top: -70px; }

.avatar {
  width: 100%;
  cursor: pointer; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative;
    margin-bottom: 10px; }
  .fa-ul .fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center; }

.uk-list li {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

#user-profile {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
  #user-profile .bl-tile {
    height: 130px;
    width: 130px;
    display: inline-block;
    background: #eee;
    color: #e76724;
    margin: 5px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
    #user-profile .bl-tile i {
      padding: 35px 52px;
      font-size: 2em;
      display: block; }
    #user-profile .bl-tile span {
      font-size: 0.8em;
      padding: 0 10px; }
    #user-profile .bl-tile:hover {
      background-color: #e76724;
      color: white; }
  #user-profile .uk-table tr {
    border-bottom: 1px solid #f1f1f1; }

#bl-responsive-menu .uk-offcanvas-bar {
  background: #e76724; }

#bl-responsive-menu a {
  color: white; }

.bl-grid-medium > * {
  padding: 10px; }

.bl-card {
  padding: 20px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.bl-super-badge {
  position: relative; }
  .bl-super-badge .uk-badge {
    position: absolute;
    right: 5px;
    top: 15px;
    border-radius: 10px; }

/* Rules for sizing the icon. */
.material-icons.md-2 {
  font-size: 2em; }

.material-icons.md-3 {
  font-size: 3em; }

.material-icons.md-4 {
  font-size: 4em; }

.material-icons.md-5 {
  font-size: 5em; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

@media (max-width: 767px) {
  #slider .subtitle-wrap {
    margin-top: 0; }
    #slider .subtitle-wrap .subtitle {
      margin-top: 220px; }
      #slider .subtitle-wrap .subtitle .button-group {
        padding: 0; }
  .uk-navbar-brand img {
    position: absolute;
    left: 50%;
    margin-left: -137px;
    top: -10px; }
  #slider .images {
    height: 30vh; }
    #slider .images .image {
      top: 20%; }
  #our-services .uk-tab a {
    padding: 5px; } }

/*# sourceMappingURL=app.css.map */
